<!DOCTYPE html>
<html>
  <head>
    <title>Pictures</title>
  </head>
  <body>
    <h1>Pictures</h1>
    <%= link_to("New Picture", "/pictures/new") %>
    <% @pictures.each do |picture| %>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
    <% end %>
  </body>
</html>
