<!DOCTYPE html>
<html>
  <head>
    <title>Pictures</title>
  </head>
  <body>
    <h1>Pictures</h1>
    <% @pictures.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <img src="<%= picture.url %>" alt="<%= picture.title %>">
    <% end %>
  </body>
</html>
