<!DOCTYPE html>
<html>
  <head>
    <title>One Picture</title>
  </head>
  <body>
    <%= link_to("Back to Pictures", "/pictures") %>
    <p><%= @picture.title %>, <%= @picture.artist %></p>
    <img src="<%= @picture.url %>"
  </body>
</html>
